.avatar-show-img {
    width:100px;
    height:100px;
    border-radius:50px;
    margin-top:2em;
}

.well.profile-block {
    color:#fff;
    h3 {
        margin-top:0px;
    }
}

.well.profile-description {
    background-color:rgba(0, 50, 248, 0.58);
    border-color:rgba(2, 31, 255, 0.4);
}

.well.profile-contact-info {
    background-color:rgba(0, 50, 248, 0.58);
    border-color:rgba(2, 31, 255, 0.4);
}
